$text-color: #fff;
// $illustration_color: #fff;
$illustration_color: #204987;
.header {
  margin: 0rem 0 8rem 0;
  padding-top: 8rem;
  background-color:$illustration_color;
  @media only screen and (max-width: 56.25em) {
    margin-top: 0rem;
    padding: 0;
    margin-bottom: 0.4rem;
  }

  &-left {
      visibility: hidden;
      min-height: 46vh;
      display: flex;
      align-items: flex-start;
      @media only screen and (max-width: 56.25em) {
        min-height: 30vh;
      }
  }
  &-right {
    margin-top: 5rem;
    padding: 3rem;
    padding-left: 0;
    @media only screen and (max-width: 56.25em) {
      margin-top: 1rem;
      padding: 0;
      margin-bottom: 5rem;
    }
    //     position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    & > * {
      opacity: 0;
    }
  }
}

.title-text {
  line-height: 1.3;
  font-size: 5rem;
  color: $text-color;
  font-weight: 200;
  @media only screen and (max-width: 56.25em) {
    font-size: 3rem;
  }
  span {
    font-weight: 700;
    display: block;
  }
  &-description {
    font-size: 1.2rem;
    color: $text-color;
    letter-spacing: 0.9px;
    margin: 1rem 0;
    font-size: 1.4rem;
    margin-bottom: 2.9rem;
    text-transform: uppercase;
  }
}

.btn {
  border: 0;
  font-size: 1.4rem;
  letter-spacing: 0.7px;
  border-radius: 20px;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  padding: 1.5rem 2rem;
  font-weight: 500;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);

  @media only screen and (max-width: 56.25em) {
    padding: 1rem 1.7rem;
    font-size: 1.2rem;
  }
}

.btn:focus {
  outline: none;
}

#btn-white {
  color: #fff;
  text-decoration: none;
}

.marg-top-small {
  margin-top: 2rem;
}

.illustration-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: $illustration_color;
    position: absolute;
  }
}

