$hamburger-color: #fff;
// $illustration_color: #fff;
$illustration_color: #204987;
$text-color: #fff;


nav {
    background-color: #fff;
}

.main-nav-logo-container {
    width: 4rem;
    height: 4rem;
}

.nav-links {
    background-color: $illustration_color;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 3rem 0;
    @media only screen and (max-width: 56.25em) {
        flex-direction: column;
        align-items: stretch;
        padding: 3rem 0rem;
       }
}

.nav-links > * {
    opacity: 0;
    margin-right: 1rem;
    @media only screen and (max-width: 56.25em) {
      padding: 2rem 0;
      width: 100%;
       }
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-text {
    margin-left: 1rem;
    color: $text-color;
    font-size: 1.7rem;
}

.nav-link-text {
    font-size: 1.4rem;
    color: $text-color;
    cursor: pointer;
}

.nav-link-text:link,
.nav-link-text:visited {
    color: $text-color;
    transition: all 0.2s;
    padding: 2rem;
}
.nav-link-text:active,
.nav-link-text:hover {
    color: #223234;
    background-color: #fff;
    
}

.margin-right {
    margin-right: auto;
    @media only screen and (max-width: 56.25em) {
        margin-right: 0;
         }
}

.last-child {
    margin-right: 0;
}


.nav-links-mobile {
    @media only screen and (max-width: 56.25em) {
        display: block;
        font-size: 3rem;
        text-align: center;
        }
    list-style: none;
    display: flex;
    align-items: center;
    padding: 3rem 4rem;
}

.checkbox-label {
    width: 4rem;
    background-color: $hamburger-color;
    height: 0.45rem;
    border-radius: 10px;
    display: none;
    transition: all 0.7s;

    &::before, &::after{
        content: "";
        width: 4rem;
        background-color: $hamburger-color;
        height: 0.45rem;
        border-radius: 10px;
        display: inline-block;
        position: relative;
        transition: all 0.2s;
    }

    &::before {
        top: -1.5rem;
    }
    &::after {
        top: -1.1rem;
    }

    @media only screen and (max-width: 56.25em) {
        display: block;
        }
}

.checkbox {
    display: none;

    &:checked + .checkbox-label::before {
        top: 0rem;
        // transform-origin: center;
        transform: rotate(135deg);
    }

    &:checked + .checkbox-label::after {
        top:-1.4rem;
        // transform-origin: center;
        transform: rotate(-135deg);
    }

    &:checked + .checkbox-label {
        background-color: transparent;
        position: relative;
        top: -0.4rem;
    }
}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}