.section-apply {
    background-color: #204987;
    padding: 3rem;
    margin-top: 4rem;
    padding-bottom: 7rem;
    color: #fff;
}

.apply-text {
    font-size: 2rem;
    font-weight: 400;
    @media only screen and (max-width: 56.25em) {
        font-size: 1.5rem;
        }
}

.btn-apply1 {
    display: block;
    text-align: center;
    width: 300px;
    margin-top: 5rem;
    background-color: #fff;
    color: #204987;
    font-size: 1.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

.btn-flex {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}