.footer {
    height: 400px;
    background-color: #fff;
    display: grid;
    // grid-template-columns: 0.3fr 1fr 0.3fr;
    color: #fff;
    box-shadow: 0 -1rem 3rem rgba(0,0,0,0.15);

    &-links-container {
        display: grid;
        grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr;
        grid-gap: 3rem;
    }

    &-links {
        
    }

    &-logo-container {
        width: 5rem;
        height: 5rem;
    }
}

.footer-link-container {
    // grid-column: 2/3;
    background-color: darkmagenta;
}



.footer-link-text {
    color: #fff;
}

