*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

.row {
  max-width: 114rem;
  margin: 0 auto; }
  // .row:not(:last-child) {
  //   margin-bottom: 8rem; }
  //   @media only screen and (max-width: 56.25em) {
  //     .row:not(:last-child) {
  //       margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2*(6rem) ) / 3); }
  .row .col-1-of-4 {
    width: calc( (100% - 3*(6rem) ) / 4); }
  .row .col-2-of-3 {
    width: calc( 2*( (100% - 2*(6rem) ) / 3 ) + 6rem); }
  .row .col-2-of-4 {
    width: calc(( 2*(100% - 3*(6rem) ) / 4 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( ( 3*(100% - 3*(6rem) ) / 4 ) + 2*6rem); }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // background-color: #204987;
  // color: #fff;
}

.section-title {
  font-size: 4rem;
  margin: 2rem 0;
  @media only screen and (max-width: 56.25em) {
    font-size: 2.7rem;
    text-align: center;
    }
}

.linkFix:link, 
.linkFix:visited {
    text-decoration: none;
    color: currentColor;
}

.linkFix:hover,
.linkFix:active {
    text-decoration: none;
}

ul {
  list-style: none;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loader {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #204987;
}

