.review {
    height: 250px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.15);
    width: 500px;
    margin-top: 7rem;
    position: relative;

    @media only screen and (max-width: 56.25em) {
        height: auto;
        width: 300px;
    }
}

.image-container {
    height: 23rem;
    width: 23rem;
    // top: -32px;
    // left: 36px;
    // position: absolute;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    overflow: hidden;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.review-content {
    margin-left: 28rem;
    padding: 2rem 2rem 2rem 0;
    text-align: left;
    word-wrap: wrap;
    // background-color: crimson;
    // position: relative;

    @media only screen and (max-width: 56.25em) {
        margin-left: 0;
        width: 80%;
        margin: 0 10%;
        padding: 0rem 2rem 6rem 0;
    }
    // @media only screen and (max-width: 37em) {
    //     margin-left: 2rem;
    //     margin-right: 2rem;
    // }
}

.username{
    // position: absolute;
    // bottom: 0;
    // left: 3.6rem;
    font-size: 1.3rem;
    font-weight: 400;

    text-align: center;
    margin-top: 1.4rem;
}

.pos {
    position: absolute;
    top: -3rem;
    left: 3rem;
    @media only screen and (max-width: 56.25em) {
        left:0;
        position: relative;
    }
    // @media only screen and (max-width: 37em) {
    //     left: 9%;
    // }
}

.review {
    &-title {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }
    &-text {
        line-height: 1.7;
        font-size: 1.2rem;
        letter-spacing: 0.4px;
    }

    &-organisation {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-around;
        bottom: 1.4rem;
        right: 2rem;


        &-img-container {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
        }

        &-name {
            font-size: 1.4rem;
        }
    }

    
}